
.GithubCardsContainer {
  width:           35%;
  display:         flex;
  flex-direction:  column;
  flex-wrap:       nowrap;
  vertical-align:  top;
  /* align-content:   center; */
  align-content: space-around;
  align-items:     stretch;
  background-color: #FFFFFF
}

.GithubTitle {
  font-size:     3vw;
  text-align:    center;
}
