
.github-cards-container {
  width:            35%;
  display:          flex;
  flex-direction:   column;
  flex-wrap:        nowrap;
  vertical-align:   top;
  align-content:    space-around;
  align-items:      stretch;
  background-color: #eaf2f2
}

.github-cards-container-header {
  height: 50px;
  width: 100%;
}

.github-cards-container-header * {
  display: inline-block;
}

.github-title {
  font-size:     3vw;
  text-align:    center;
}

.github-cards-container-status-dropdown {
  position: relative;
  width: 150px;
  z-index: 1; 
}

.github-cards-container-status-dropdown-btn {
  height: 40px;
  width: 150px; 
}